@import '../../../styles/variables.module.scss';
@import '../../../styles/mixins';

.product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .chip {
    background-color: $background-color;
    max-height: 50px;
    margin: 5px;
    text-align: center;
    border: 2px dashed #39ba88;
    flex-grow: 1;

    // 576px window width and more
    @include sm {
      max-width: 300px;
    }
    // 992px window width and more
    @include lg {
      max-width: 300px;
    }
    .content {
      height: 100px;
      overflow: hidden;
    }
  }
}
