@import '../../styles/variables.module.scss';
@import '../../styles/mixins';
.main {
  background-color: $background-color;
  max-height: 320px;
  margin-bottom: 10px;
  width: 100%;

  // 576px window width and more
  @include sm {
    max-height: 100%;
  }
  // 992px window width and more
  @include lg {
    max-height: 100%;
  }
  .content {
    height: 100%;
    padding: 10px;
    overflow: hidden;
    width: 100%;
  }

  .accordion__summary__content {
    width: 100%;
  }
}
