@import '../../styles/variables.module.scss';
@import '../../styles/mixins';
.main {
  background-color: $background-color;
  width: -webkit-fill-available;
  max-height: 320px;
  margin: 10px;

  // 576px window width and more
  @include sm {
    max-width: 300px;
    max-height: 100%;
  }
  // 992px window width and more
  @include lg {
    width: 300px;
    max-height: 100%;
  }
  .content {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}
