@import '../../../../styles/variables.module.scss';
.topBar {
  background-color: $primary-color;
}
.sidebar {
  background: $primary-color;
}

.connect-wallet-btn {
  background-color: $thirdary-color;
  margin: 10px;
}

.selected {
  background-color: $thirdary-color !important;
}

.page-content {
  padding: $OA-header-height 10px 10px 10px;
}
