.profile-manager__container {
  width: 800px;
  padding: 50px;
  margin-left: 100px;
  align-items: center;
  .profile-manager__edit-button-container {
    float: right;
  }
  .profile-manager__user-details-container {
    display: flex;
    align-items: center;
    .profile-manager__user-details-container__details {
      margin-left: 50px;
    }
  }
  .profile-manager__roles-container {
    margin-top: 20px;
  }
  .profile-manager__action-buttons-container {
    margin-top: 70px;
  }
}
