.instructions {
  position: absolute;
  margin: 20px;
  width: 35%;
  height: 30%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}

.map-container-small {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 50vh;
}
.map-container-large {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80vh;
}
