.toast-host {
  position: absolute;
  z-index: 1099; // Place above any Semantic UI Loader components
  top: 50px;
  left: 0;
  right: 0;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
