@import '../../styles/variables.module.scss';
@import '../../styles/mixins';
.main {
  background-color: $background-color;
  width: 100%;
  max-height: 320px;
  margin: 10px;
  &.selected {
    border: 5px solid $primary-color;
  }

  // 576px window width and more
  @include sm {
    max-width: 300px;
    max-height: 100%;
  }
  // 992px window width and more
  @include lg {
    width: 300px;
    max-height: 100%;
  }
  .content {
    height: 100px;
    overflow: hidden;
  }
}
