@import '../../styles/variables.module.scss';
@import '../../styles/mixins';
.map-container {
  height: 400px;
}
.file-upload {
  height: 200px;
  width: 100%;
}

.dialog__content {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .product-form {
    height: 100%;
  }
  .product-card {
    background-color: $background-color;
    max-width: 150px;
    max-height: 200px;
    margin: 10px;
    @include sm {
      max-width: 300px;
    }
    // 992px window width and more
    @include lg {
      max-width: 200px;
      max-height: 100%;
    }
    .product-card__content {
      height: 100px;
      overflow: hidden;
    }
  }
  .selected {
    border: 2px rgb(51 162 155) solid; // 576px window width and more
  }
}
.connect-wallet-btn {
  color: rgba(57, 186, 136, 1);
  width: 250px;
  height: 250px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .chip {
    background-color: $background-color;
    max-height: 50px;
    margin: 10px;
    text-align: center;
    border: 2px dashed #39ba88;
    flex-grow: 1;

    // 576px window width and more
    @include sm {
      max-width: 300px;
    }
    // 992px window width and more
    @include lg {
      max-width: 300px;
    }
    .content {
      height: 100px;
      overflow: hidden;
    }
  }
}
