.fileButton {
  height: 100%;
  width: 100%;
}

.paper {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px dashed;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.imagesContainer {
  display: flex;
  flex-wrap: wrap;
}

.imageContainer {
  padding: 10px;
}
