@import '../../../styles/variables.module.scss';
.window {
  background-color: $secondary-color;
}
.secondary-bar {
  background-color: $thirdary-color;
}
.mainSection {
  background-color: $secondary-color;
}

.metricsCard {
  background-color: $background-color;
}
.topBar {
  background-color: $thirdary-color;
}

.container {
  display: flex;
  height: 100%;
  .left-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    .left-container__payment-details {
      width: 600px;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .account-details__container {
        position: relative;
        width: auto;
        min-width: 300px;
        height: auto;
        min-height: 100px;
        padding: 10px;
        margin-bottom: 20px;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(
          90deg,
          rgba(51, 162, 155, 1) 0%,
          rgba(57, 186, 136, 1) 35%,
          rgba(63, 96, 96, 1) 100%
        );
        .loading-spinner {
          color: white;
          align-self: center;
        }
        .connect-wallet-btn {
          position: absolute;
          right: 12px;
          top: 4px;
          color: rgba(57, 186, 136, 1);
        }
      }
      .connect-wallet-loading-btn {
        width: auto;
        min-width: 300px;
        height: auto;
        min-height: 100px;
        padding: 10px;
        margin-bottom: 20px;
        color: white;
        background: linear-gradient(
          90deg,
          rgba(51, 162, 155, 1) 0%,
          rgba(57, 186, 136, 1) 35%,
          rgba(63, 96, 96, 1) 100%
        );
        .loading-spinner {
          color: white;
          align-self: center;
        }
        .connect-icon {
          color: rgba(57, 186, 136, 1);
          height: 35px;
          width: 35px;
        }
      }

      .left-container__payment-details__title-container {
        display: flex;
        justify-content: center;
        height: 30px;
      }
      .left-container__payment-details__form-container {
        height: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        .amount-container {
          display: flex;
          justify-content: center;
        }
        .left-container__payment-details__form-container__button-container {
          height: 60px;
          width: 100%;
          .left-container__payment-details__form-container__button-container__button {
            float: right;
          }
        }
      }
    }
  }
  .right-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    .right-container__smart-contract {
      width: 600px;
      height: 700px;
      padding-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .right-container__smart-contract__title-container {
        display: flex;
        justify-content: center;
        height: 30px;
      }
      .right-container__smart-contract__card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 30px);
        .right-container__smart-contract__card-container__card {
          border-radius: 50%;
          height: 200px;
          margin-bottom: 115px;
        }
      }
    }
  }
}
