.profile-manager__container {
  align-items: center;
}
.profile-manager__edit-button-container {
  float: right;
}
.profile-manager__user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-manager__roles-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
