@import '../../../../styles/variables.module.scss';
.window {
  background-color: $secondary-color;
}
.aside {
  background-color: $background-color;
}
.paper {
  background-color: $secondary-color;
}
