@import '../../styles/variables.module.scss';
@import '../../styles/mixins';
.main {
  background-color: $background-color;
  width: -webkit-fill-available;
  margin-top: 10px;

  // 576px window width and more
  @include sm {
    max-width: 300px;
  }
  // 992px window width and more
  @include lg {
    width: 300px;
  }
  .content {
    height: 150px;
    overflow: hidden;
  }
}
