@import '../../styles/variables.module.scss';
@import '../../styles/mixins';
.main {
  background-color: $background-color;
  max-height: 320px;
  margin: 10px;
  max-width: 450px;

  // 576px window width and more
  @include sm {
    max-height: 100%;
  }
  // 992px window width and more
  @include lg {
    max-height: 100%;
  }
  .content {
    height: 100%;
    padding: 10px;
    overflow: hidden;
  }
}
