.map-container-small {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 50vh;
}
.map-container-large {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80vh;
}
.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}
