@import '../../styles/variables.module.scss';
.window {
  border: none;
  box-shadow: none;
  display: flex;
  position: relative;
  padding: 92px 24px 200px;
  background-color: $background-color;
}
.secondary-bar {
  background-color: $thirdary-color;
}
.mainSection {
  background-color: $secondary-color;
}
.topBar {
  background-color: $thirdary-color;
}

.carouselComp {
  display: flex;
  justify-content: center;
}

.header {
  font-size: 64px;
  line-height: 64px;
  color: #3f6060;
}

.headerTextContainer {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 200px;
  margin-right: auto;
  max-width: 1032px;
}

.actionBtn {
  min-width: 148px;
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 18px 24px;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
}

.headerTextWrapper {
  z-index: 1;
  max-width: 560px;
}

.headerImagery {
  position: relative;
  display: block;
}

.headerImageMarket {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  margin-top: -666px;
  margin-left: 9px;
}

.headerTextContainer:before,
.headerTextContainer:after {
  content: ' ';
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

svg.trap {
  position: relative;
  bottom: 32px;
  width: 100%;
  height: 28vw;
}

.diagonalYellow {
  margin-top: -31%;
  margin-bottom: -10%;
  z-index: -10;
  background-color: $background-color;
}

.benefitsHeader {
  margin-bottom: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.benefitsTitle {
  max-width: none;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #3f6060;
}

.benefitsParagraph {
  max-width: 700px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #3f6060;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.stepNumber {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  margin-right: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 24px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.howToStep {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.stepDescription {
  // margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #636975;
  font-size: 18px;
  line-height: 24px;
}
