html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

//removes the x-scroll bar from mobile view
//along with overflow-x: hidden defined above
body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --amplify-primary-color: #11a29b;
  --amplify-primary-tint: #3f6060;
  --amplify-primary-shade: #2dba89;
  --amplify-background-color: #e0faf4;
}
amplify-authenticator {
  --container-height: 0;
  --box-shadow: 0;
}

mapbox-search-listbox {
  [class$='-Results'],
  [class*='-Results '] {
    z-index: 1400;
  }
}
