$primary-color: #33a29b;
$secondary-color: #3f6060;
$thirdary-color: #39ba88;
$background-color: white;
$OA-header-height: 56px;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  thirdaryColor: $thirdary-color;
  backgroundColor: $background-color;
  oaHeaderHeight: $OA-header-height;
}
